<!DOCTYPE html>
<html lang="en" th:replace="~{fragment:: parent(~{::#content}, ~{::script})}">
  <head>
    <title>Contact Us</title>
  </head>
  <body>
    <section id="content">
      <h1>This is Contact Us page fragment heading</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima, eius
        quo accusamus iusto, quia dolores mollitia nostrum explicabo atque earum
        rem, facere voluptas magnam repellendus obcaecati debitis ipsam incidunt
        ducimus nobis inventore deleniti sapiente facilis? Porro ipsum
        accusantium ut, impedit officiis consequuntur debitis reprehenderit cum.
      </p>
    </section>
    <script>
      console.log("Script tag");
    </script>
  </body>
</html>
