<!DOCTYPE html>
<html lang="en" th:replace="~{fragment:: parent(~{::.container}, ~{})}">
  <head>
    <link rel="stylesheet" th:href="@{/css/output.css}" />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  </head>
  <body>
    <div class="container bg-red-400">
      <div class="text-red-500">Tailwind CSS is working!</div>

      <h3 class="text-3xl font-bold" th:text="${name}">
        Welcome to the home page of SCM
      </h3>
      <h3 th:text="${Work}"></h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt vero
        accusantium pariatur porro. Eius aliquam dolorem facilis optio velit
        vitae nemo animi neque, ullam magnam impedit corrupti facere deserunt
        veniam libero dignissimos, nobis possimus!
      </p>
      <a th:href="${youtubeVideo}">Click Here To Open</a>
    </div>
  </body>
</html>

