<!DOCTYPE html>
<html lang="en" th:replace="~{fragment:: parent(~{::#content}, ~{::script})}">
  <head>
    <title>Login Page</title>
  </head>
  <body>
    <section id="content">
      <h1>This is Login page fragment heading</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt vero
        accusantium pariatur porro. Eius aliquam dolorem facilis optio velit
        vitae nemo animi neque, ullam magnam impedit corrupti facere deserunt
        veniam libero dignissimos, nobis possimus!
      </p>
    </section>
    <script>
      console.log("Login Script tag");
    </script>
  </body>
</html>
