<html lang="en" th:replace="~{fragment:: parent(~{::#content}, ~{::script})}">
  <head>
    <title>Register Page</title>
  </head>
  <body>
    <div id="content">
      <div class="grid grid-cols-12 min-h-screen items-center">
        <!-- Empty columns for spacing -->
        <div class="col-span-1 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>

        <!-- Centered content -->
        <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
          <div
            class="block p-6 border-t-[10px] border-blue-700 bg-white rounded-xl shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-blue-700 dark:hover:bg-gray-700"
          >
            <!--  message box alert  -->
            <!-- In your register.html or wherever you want the message box -->
            <div th:replace="message::messageBox"></div>

            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              SignUp Here
            </h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">
              Strat Managing Contex On cloud
            </p>

            <form
              data-th-action="@{/do_register}"
              th:object="${userForm}"
              method="post"
              class="mt-5"
            >
              <!-- --- User Name ----->
              <div class="mb-5">
                <label
                  for="text"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Name</label
                >
                <input
                  type="text"
                  id="name"
                  th:field="*{name}"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Enter Your Full Name "
                  required
                />
              </div>

              <!-- ------ email filed ---------  -->
              <div class="mb-3">
                <label
                  for="email"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Email</label
                >
                <input
                  type="email"
                  id="email"
                  th:field="*{email}"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="name@email.com"
                  required
                />
              </div>

              <!-- ------password--------------->

              <div class="mb-5">
                <label
                  for="paassword"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >New Paassword
                </label>
                <input
                  type="password"
                  id="password"
                  th:field="*{password}"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Enter Password"
                  required
                />
              </div>

              <!-- -----------phone number ---------------->
              <div class="mb-5">
                <label
                  for="phone"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Contact Number
                </label>
                <input
                  type="text"
                  id="phone"
                  th:field="*{phoneNumber}"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Enter Phone Number"
                  required
                />
              </div>

              <!-- ----------About text Area-------- -->
              <div class="mb-3">
                <label
                  for="about"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Write About Yourself</label
                >
                <textarea
                  id="about"
                  rows="6"
                  th:field="*{about}"
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Write here..."
                ></textarea>
              </div>
              <!--  Buttons  -->
              <div class="mb-3 flex justify-center space-x-3">
                <button
                  class="px-3 py-2 rounded bg-gray-800 text-white dark:bg-blue-800 hover:dark:bg-blue-400 hover:bg-gray-900"
                  type="submit"
                >
                  SignUp
                </button>

                <!-- ------ Reset Button -------->
                <button
                  class="px-3 py-2 rounded bg-gray-800 text-white dark:bg-blue-800 hover:dark:bg-blue-400 hover:bg-gray-900"
                  type="reset"
                >
                  Reset
                </button>
              </div>
            </form>
          </div>
          <div />
        </div>
      </div>
    </div>
    <script>
      console.log("Script tag");
    </script>
  </body>
</html>
